@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    max-width: 100%;
}
.body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.fix:before, .fix:after{
    content: "";
    clear: both;
    display: table;
}
.header-area{
    padding: 20px 0;
}
.header-fixed{
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
}
.header-area.header-fixed a{
    color:#fff ;
}
.logo {
	float: left;
	width: 150px;
	margin-right: 20px;
	margin-top: -5px;
}
.menu {
	width: 790px;
	float: left;
}

.logo a{
    text-transform: uppercase;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
}

.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    font-size: 16px;
    padding-right: 40px;
    font-weight: 500;
    text-transform: uppercase;


}
.menu ul li a:hover{
    color:#2ecc71;
}
.btn {
	width: 105px;
	text-transform: uppercase;
	font-size: 15px;
	background-color: #2ecc71;
	text-align: center;
	color: #fff;
	padding: 8px 10px;
	
}
.btn:hover{
    background-color: #333;
}
.bannar-area{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;

}
.bannar-area:before, .bannar-area:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0.4;
    
}
.bannar-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   z-index: 2;
   text-align: center;
   color: #fff;
}
.bannar-content p {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 10px;
	letter-spacing: 2px;
}
.bannar-content h4 {
	font-size: 35px;
	font-weight: 600;
	width: 820px;
	text-transform: uppercase;
	padding-bottom: 15px;
	line-height: 45px;
	letter-spacing: 8px;
}
.advanture-content {
	width: 549px;
	float: left;
	text-align: left;
    padding: 40px 0;
}
.advanture-content h5{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.advanture-content h4 {
	width: 462px;
	font-size: 35px;
	font-weight: 600;
	text-transform: capitalize;
}
.advanture-content p {
	margin-bottom: 18px;
}

.advanture-img {
	width: 621px;
	float: left;
}
.advanture-img ul {
	margin-left: 40px;
}
.advanture-img ul li {
	float: left;
	width: 273px;
	margin-right: 17px;
	margin-bottom: 17px;
}

.destination-area{
    background-color: #333;
    color: #fff;
}

.service-title{
    text-align: center;
}
.service-title p {
	padding-bottom: 5px;
	text-transform: capitalize;
	font-size: 15px;
}
.service-title h4{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}
.service-title h4::before, .service-title h4::after {
	content: "";
	position: absolute;
	background-color: #2ecc71;
	left: 50%;
	transform: translate(-50%,50%);
}
.service-title h4::before {
	width: 70px;
	height: 2px;
	bottom: 0;
}
.single-destination{
    width: 370px;
    float: left;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.destination-img img{
    position: relative;
}
.con-list {
	position: absolute;
	left: 4%;
	top: 67%;
    transition: .3s;
}
.destination-content {
	position: relative;
	width: 230px;
	background-color: #2ecc71;
	padding-left: 10px;
	left: 8%;
	bottom: 11%;
	padding: 7px 8px;
	line-height: 21px;
}
.destination-content h4{
    font-size: 20px;
}
.destination-content ul li{
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
}
.arrow-sign {
	position: absolute;
	left: 86%;
	top: 30%;
	font-size: 24px;
    
}
.single-destination:hover .con-list{
    transform: scale(1.1);
    
}

.package-area{
    background-color: #ddd;
}
.single-pakage {
	float: left;
	width: 370px;
	background-position: center;
	background-size: cover;
	padding-bottom: 35px;
	border: #fff;
	background-color: #fff;
    margin-bottom: 15px;
    margin-right: 15px;
    
}
.single-pakage:nth-child(3), .single-pakage:nth-child(6){
    margin-right: 0;
}

.package-content{
    text-align: center;
   
}
.package-content h4 {
	font-size: 21px;
	text-transform: capitalize;
	padding: 5px 0;
    font-weight: 600;
    
}
.package-content ul li {
	display: inline-block;
	padding: 3px 24px;
    font-weight: 600;
    transition: .5s;
}
.package-content ul li:hover{
    color: #2ecc71;
}

.explore-btn {
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid#333;
	width: 305px;
	
	left: 14%;

}
.explore-btn a{
    color: #2ecc71;
    font-size: 18px;
    font-weight: 600;

}
.explore-btn {
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid#333;
	width: 305px;
	left: 14%;
	
}
.guide-area{
    background-color: #333;
}
.guide-title{
    text-align: center;

}
.guide-title p{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
.guide-title h4{
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
}
.guide-title h4::before, .guide-title h4::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	background-color: #2ecc71;
	transform: translate(-50%,-50%);
}
.guide-title h4:before{
    width: 65px;
    height: 3px;
    bottom: 0;

}
.guider {
	width: 282px;
	float: left;
	background-position: center;
	background-size: cover;
	padding-top: 18%;
	margin-right: 10px;
	margin-top: 27px;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.guide-content{
    position: absolute;
    width: 282px;
    background-color: #333;
    opacity: .7;
    bottom: -66px;
    transition: .3s;
}
.guide-content h4 {
	font-size: 27px;
	text-align: center;
}
.guide-content p{
    font-size: 15px;
    text-align: center;
}
.guide-content ul{
    text-align: center;
    padding-bottom: 2px;
}
.guide-content ul li{
    display: inline;
    padding: 5px 5px;
}
.guider:hover .guide-content{
    bottom: 0;
}
.single-blog{
    float: left;
    width: 380px;
    margin-right: 15px;
    overflow: hidden;
    
}
.single-blog:last-child{
    margin-right: 0;
}

.blog-img{
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    
}
.blog-img img{
    position: relative;
    vertical-align: middle;
   
}
.blog-img h4 {
	position: absolute;
	width: 125px;
	color: #fff;
	background-color: #2ecc71;
	text-align: center;
	font-size: 20px;
	padding: 8px 5px;
	left: 2%;
	top: 2%;
	text-transform: uppercase;
	font-weight: 500;
}
.blog-admin ul {
	text-align: center;

}
.blog-admin li {
	display: inline-block;
	padding: 5px 16px;
	font-weight: 600;
}
.blog-content h4 {
	font-size: 24px;
	margin-top: -2px;
	padding-bottom: 5px;
}
.blog-content p{
    margin-bottom: 5px;
}


.read-btn a{
    text-transform: capitalize;
    font-size: 18px;
    color: #2ecc71;
    font-weight: 500;
    
}
.read-btn a:hover{
    color: #333;
}
.single-blog:hover .blog-img img{
    transform: scale(1.1);
}

.footer-area{
    background-position: center;
    background-size: cover;
    background-color: #0000;
    opacity: 0.5;
}
.jaflong-area {
	width: 360px;
	float: left;
	color: #ddd;
}
.jaflong-area h4 {
	font-size: 48px;
	text-transform: uppercase;
}
.jaflong-area p{
    padding-bottom: 15px;
}
.jaflong-area ul{
    text-align: center;
}
.jaflong-area ul li{
    display: inline-block;
    padding: 15px 7px;

}
.jaflong-area ul li i {
	width: 40px;
	height: 40px;
	border: 1px solid#fff;
	border-radius: 50%;
	line-height: 35px;
}
.quick-link{
    width: 240px;
    float: left;
    color: #fff;
    margin-left: 30px;
}

.quick-link h4{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.quick-link ul li{
    padding-bottom: 7px;
}
.quick-link ul li i a{
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
}